.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(82, 62, 103);
    box-shadow: 0 0 15px black;
}

.header--logo {
    opacity: 50%;
    width: 150px;
}

.header h1{
    padding: 20px;
}

