*{
    box-sizing: border-box;
   
    font-family:'Courier New', Courier, monospace;
    color: rgb(187, 175, 116);
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(55, 39, 71);
}

.container{
    display: flex;
    flex-flow: column;
    background-color: rgb(55, 39, 71);
}

button {
    font-size: larger;
    border-radius: 10px;
    align-self: center;
    width: 20%;
    color: black;
    padding: 20px
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px black;
    background-color: antiquewhite;
}